html, body {
	height: 100%;
	font-family: "Barlow";
}

#title {
	padding-top: 1%;
	font-family: "Bebas";
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 1.1em;
}

.a:hover{
	text-decoration: none;
}

.container.holder {
	/*border-style: solid;*/
	/*border-color: black;*/
	margin: 0;
	padding: 0;
	height: 100%;
	width: auto;
}

#right_side {
	float: right;
	max-width: 60%;
	height: 100%;
	overflow: hidden;
}

#image {
	padding: 0;
	margin: 0;
	height: 100%;
	float: right;
}

.socialicon {
	width: 40px;
	height: 40px;
}

#main_part {
	float: left;
	display: inline-block;
	max-width: 40%;
	max-height: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

#texts {
	max-height: 80%;
	max-width: 100%;
	margin-top: 20px;
}

#logo {
	margin-top: 5%;
	width: 30%;
}

.hero-text {
	font-size: 20px;
	line-height: 1.1;
}

.join-mail-button {
	background: #f5d27c;
	color: black;
	margin-top: 5%;
	font-size: 25px;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 3px 3px 2px #AAA;
	font-family: "Barlow";
	padding: 10px 40px;
}

.join-mail-button-text {
	font-family: "Barlow";
  font-size: 30px;
}

.mx-auto.mailing_list:hover {
  background-color: #C1F881;
  color: black;
  text-decoration: none;
}

h1:hover {
	text-decoration: none;
}

/*MOBILE RESPONSIVENESS ADDED FOR IMAGE*/
@media screen and (max-width: 500px){
	#image{
		display: none;
	}
	.container.mx-autoholder{
		display: block;
		width:100%;
	}
	#main_part{
		max-width:100%;
	}

	#logo{
		width:45%;
	}

	#social-media-icons{
		display: flex;
		padding-left:7.7%;
	}

}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.3em;
	}
}


@media screen and (max-width: 768px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 1024px) {
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.8em;
	}

}

#social-media-icons{
/*	margin-top:7%;
	margin-left:7%;
	position: center;
	margin-bottom:3%;*/
	position: relative;
	bottom: -30px;
}

.social-icon {
	text-align: center;
}
